body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400px;
    color: #fff;
    letter-spacing: 1px;
}

.container {
    background-color: #fafafa;
    margin: 200px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: 40% 60%;
}

.container-time {
    background-color: navy;
    padding: 50px;
    outline: 3px dashed black;
    outline-offset: -30px;
    text-align: center;
}

.heading {
    font-size: 35px;
    text-transform: uppercase;
}

.heading-days {
    color: black;
    font-size: 30px;
}

.heading-phone {
    font-size: 20px;
}

.container-form {
    padding: 20px 0;
    margin: 0 auto;
    color: #000;
}

form {
    display: grid;
    grid-row-gap: 20px;
}

form p {
    display: flex;
    justify-content: space-between;
}

.form-field {
    display: flex;
    justify-content: space-between;
}

input,
select {
    pad: 10px 15px;
}

.btn {
    background-color: rgba(0, 0, 0, .95);
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-pborder-radius: 100px;
    box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.btn:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
}

.footer {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.logo {
    font-family: Audiowide;
    text-align: left;
    font-size: 30px;
    margin: auto;
    display: inline;
    padding: auto;
    color: orange;
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-bottom: 1px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);
}


/* Style the navigation bar links */

.navbar a {
    float: right;
    display: inline;
    color: black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    margin: auto;
    margin-left: 15px;
    padding-top: 27px;
}


/* Change color on hover */

.navbar a:hover,
.navbar a.active {
    border-bottom: 1px solid;
    border-bottom-color: orange;
    color: orange;
}


/* Right-aligned link */

.navbar a.right {
    float: right;
}

.btn {
    background-color: transparent;
    float: center;
    /* width: 4px; */
    background-repeat: no-repeat;
    outline: none;
    /* padding: 0px 10px; */
    cursor: pointer;
    color: black;
    /* margin-left: 10px; */
    padding-top: 22px;
    border: none;
}

.btn:hover {
    background-color: transparent;
}

.dark-mode {
    background-color: black;
    color: white;
}