:root{
  --maincolor:#0000ff;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  transition: .3s linear;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
}
/* .logo{
  width:100px;
  height:100px
  font-family: Audiowide;
  text-align:left;
  font-size:30px;
  margin:auto;
  display:inline;
  padding:auto;
  color:orange;
  } */
.dark-mode{
    background-color: black;
    color: white;
}

html{
  font-size: 62.5%;
  overflow-x:hidden;
  scroll-behavior: smooth;
}
header{
  padding:2rem 7%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  right:0;
  left:0;
  box-shadow: 0 .5rem .5rem rgb(0, 0, 0, .2);
/*  background-color: rgba(248, 248, 255, 0.7);*/
 background-color: rgba(230, 230, 250, 0.9);
}
.header #logo img{
  width: 200px;
  height:100px;
}
.header .navbar a{
  font-size:1.7rem;
  margin-left: 1.5rem;
  color:var(--maincolor);
}
.header .navbar a:hover{
  color: black;
}
.header .icons{
  font-size:2rem;

}
.header .icons div{
  margin-left:1rem;
  cursor: pointer;
}
.header .icons div:hover{
  color:var(--maincolor);
}
.header .icons #menu-bars{
  display:none;
}
.header .search-box {
  position: absolute;
  top: 110%;
  right: 100%;
  width:50%;
  border-radius:15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header .search-box input{
  padding:1.5rem;
  border-radius:15px;
  width:100%;
  border:none;
}
.header .search-box.active{
  right:2rem;
}
.main-background{
  background:url(https://content.r9cdn.net/rimg/dimg/85/e5/d763bad9-city-9087-164429be177.jpg?crop=true&width=1366&height=768&xhint=2760&yhint=1285);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.main-text{
  text-align:center;
}
.main-text h2{
  color:dodgerblue;
  font-size:40px;
}
.main-text h1{
  color:navy;
  font-size:50px;
  /* -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: dodgerblue; */
}
.main-text h1 span{
  color:orange;
}
.book-section{
  padding:2rem 7%;
  height:50vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.inner-book {
  width:100%;
  background: lightblue;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  padding: 2rem;
}
.inner-book input{
  padding: 1rem 2rem;
  margin: .5rem 0;
}
.book-btn{
  padding:1.1rem 2rem;
  background: var(--maincolor);
}
.book-btn a{
  color:white;
  font-size:1.5rem;
}
.main-hotel{
  padding:2rem 5%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
  gap:15px;
}
.award-winning-hotel h1{
  /* color:black; */
  font-size:40px;
  text-align: center;
}
.award-winning-hotel h1 span{
  color:var(--maincolor);
}
.inner-award{
  flex: 1 1 300px;

}
.inner-award h2 p{
  text-align: center;
}
.inner-award h2{
  font-size:30px;
  padding:1rem;
}
.inner-award p{
  font-size:1.7rem;
  padding:1rem;
}
.inner-award img{
  width:100%;
}
.our-rooms{
  padding:2rem 7%;
}
.our-rooms h1{
  color: red;
  text-align:center;
  font-size:90px;
  padding-bottom: 2rem;
}
.our-rooms h1 span{
  color:red;
}
.our_rooms h1{
  font-size: 30px;
}
.our_rooms h1 span{
  color:navy;
}
.inner-rooms{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  gap:15px;
}
.inner-rooms .room-box{
  flex: 1  1 300px;
}
.inner-rooms .room-box img{
  width: 100%;
  padding:1rem;
}
.inner-rooms .room-box .beds{
  display:flex;
  justify-content: space-between;
  padding:3rem 6rem;
}
.inner-rooms .room-box .beds span{
  font-size:1.7rem;
}
.inner-rooms .room-box .beds i{
  font-size: 2rem;
  color:var(--maincolor);
  cursor:pointer;
}
.book-room-btn{
  width:50%;
  margin:0 auto;
  padding:1.5rem 2rem;
  border:1px solid var(--maincolor);
  text-align:center;
}
.book-room-btn:hover{
  color:white;
  background:var(--maincolor);
}
.book-room-btn a{
  color:orange;
  font-size:1.7rem;
}
.book-room-btn a:hover{
  color:white;
}
.navbar a:hover ,.navbar a.active {
border-bottom:3px solid;
 border-bottom-color:orange;
 color:orange;
}
.navbar a.right {
  float: right;
}
/* .navbar a {
  float:right;
  display: inline;
  color: black;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  margin:auto;
  margin-left:15px;
  padding-top:27px;
}
.navbar {
  overflow: hidden;
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom:1px;
   box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);
} */
.footer {
 background-color: transparent;
 padding: 10px;
 text-align: center;
 box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);
 color:black;
}
body {font-family: Arial, Helvetica, sans-serif;
background-color:white;
}

.logo{
 font-family: Audiowide;
 text-align:left;
 font-size:30px;
 margin:auto;
 display:inline;
 padding:auto;
 color:orange;
 }


.navbar {
 overflow: hidden;
 background-color: white;
 position: sticky;
 position: -webkit-sticky;
 top: 0;
 border-bottom:1px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);
}

/* Style the navigation bar links */
.navbar a {
 float:right;
 display: inline;
 color: black;
 text-align: center;
 padding: 10px 14px;
 text-decoration: none;
 margin:auto;
 margin-left:15px;
 padding-top:27px;
}

/* Change color on hover */
.navbar a:hover ,.navbar a.active {
border-bottom:1px solid;
border-bottom-color:orange;
color:orange;
}

/* Right-aligned link */
.navbar a.right {
 float: right;
}

.btn {
 background-color:transparent;
 float:right;
 width:4px;
 background-repeat:no-repeat;
 outline:none;
 padding:0px 10px;
 cursor: pointer;
 color:black;
 margin-left:10px;
 padding-top:22px;
 border:none;
}
.btn:hover{
background-color:transparent;
}
.dark-mode {
 background-color: black;
 color: white;
}
















@media (max-width:768px){
  html{
    font-size:50%;
  }
  .header .icons #menu-bars{
    display:inline-block;
  }
  .header{
    padding: 2rem;
  }
  .header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--maincolor);
  }
  .header .navbar a{
    display: block;
    margin: 1rem;
    padding: 1rem;
  }
  .book-btn{
    width:100%;
    margin-top: 0.5rem;
  }
  .book-section{
    padding:2rem 0;
  }
}
