html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.logo {
    font-family: Audiowide;
    text-align: left;
    font-size: 30px;
    margin: auto;
    display: inline;
    padding: auto;
    color: orange;
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-bottom: 1px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);
}


/* Style the navigation bar links */

.navbar a {
    float: right;
    display: inline;
    color: black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    margin: auto;
    margin-left: 15px;
    padding-top: 27px;
    transition: transform .2s;
}


/* Change color on hover */

.navbar a:hover,
.navbar a.active {
    border-bottom: 1px solid;
    border-bottom-color: orange;
    color: orange;
    transform: scale;
}


/* Right-aligned link */

.navbar a.right {
    float: right;
}


/*dark mode button*/

.btn {
    background-color: transparent;
    float: right;
    width: 4px;
    background-repeat: no-repeat;
    outline: none;
    padding: 0px 10px;
    cursor: pointer;
    color: black;
    margin-left: 10px;
    padding-top: 22px;
    border: none;
}


/*dark mode button hover*/

.btn:hover {
    background-color: transparent;
}

.dark-mode {
    background-color: black;
    color: white;
}

.book-section {
    padding: 2.4%;
    height: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    background-color: rgba(255, 255, 255, 0.8);
}

.inner-book {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.8% 1%;
    margin: 0.5%;
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
}

.date {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.8% 1%;
    margin: 0.5%;
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
}

.num {
    width: 6.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.8% 1%;
    margin: 0.5%;
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
}

.select {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.8% 1%;
    margin: 0.5%;
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
}

.inner-book input {
    padding: 1rem 2rem;
    margin: .5rem 0;
}


/* book button*/

.button {
    padding: 40% 50%;
    border-radius: 6px;
    border: none;
    background-color: orange;
    cursor: pointer;
}

.button:hover {
    background-color: darkorange;
}

.boximg {
    align-items: center;
    margin: 2%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    padding: 0.7%;
    margin-top: 8%;
}

.boximg a {
    padding: 10%;
    border: 1px solid red;
}

.footer {
    background-color: trasparent;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);
    color: orange;
}