* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
    color: orange;
  }
  
  .row {
    margin: 8px -16px;
    
  }
  
 
  .row,
  .row > .column {
    padding: 8px;
   
  }
  
 
  .column {
    float: left;
    width: 50%;

  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .content {
   
    padding: 10px;
  }
  
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .content img
  {
      width: auto;
      height: 170px;
  }





  .button {
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin-bottom: 100px;
    transition : transfotm .2s;
  }
   
  
 .botton :hover{
     
     transform: scale(0.95);
     background-color: orange ;
 }


  body {font-family: Arial, Helvetica, sans-serif;
    background-color:white;
   }
    
    .logo{
     font-family: Audiowide;
     text-align:left;
     font-size:30px;
     margin:auto;
     display:inline;
     padding:auto;
     color:orange;
     }
     
   
   .navbar {
     overflow: hidden;
     background-color: white;
     position: sticky;
     position: -webkit-sticky;
     top: 0;
     border-bottom:1px;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);
   }
   
   /* Style the navigation bar links */
   .navbar a {
     float:right;
     display: inline;
     color: black;
     text-align: center;
     padding: 10px 14px;
     text-decoration: none;
     margin:auto;
     margin-left:15px;
     padding-top:27px;
     transition: transform .2s;
   }
   
   /* Change color on hover */
   .navbar a:hover ,.navbar a.active {
   border-bottom:1px solid;
    border-bottom-color:orange;
    color:orange;
    transform: scale(0.95);
   }
   
   /* Right-aligned link */
   .navbar a.right {
     float: right;
   }
   
   .btn {
     background-color:transparent;
     float:right;
     width:4px;
     background-repeat:no-repeat;
     outline:none;
     padding:0px 10px;  
     cursor: pointer;
     color:black;
     margin-left:10px;
     padding-top:22px;
     border:none;
   }
   .btn:hover{
   background-color:transparent;
   }
   .dark-mode {
     background-color: black;
     color: white;
    
   }



   .column:hover
   {
       background-color: orange;
       transform: scale(0.95);
   }
   
   .footer {
    background-color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.09);
    color:orange;
    position: fixed;
    bottom: 0;
    width: 100%;

    }




   